{% extends "layout.html" %}
{% load static %}
{% block body %}
    <div class="main-container">
        <h1>Style Report</h1>

        <h2>Add New Style</h2>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message {{ message.tags }}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <form id="styleForm" method="POST" action="{% url 'handle_styles' %}">
            {% csrf_token %}
            <div>
                <label for="style_code">Style Code:</label>
                <input type="text" id="style_code" name="style_code" required>
            </div>
            <div>
                <label for="operation">Operation:</label>
                <input type="text" id="operation" name="operation" required>
            </div>
            <div>
                <label for="mach">MACH:</label>
                <input type="text" id="mach" name="mach" required>
            </div>
            <div>
                <label for="smv">SMV:</label>
                <input type="text" id="smv" name="smv" required>
            </div>
            <div>
                <label for="target">Target:</label>
                <input type="number" id="target" name="target" required>
            </div>
            <button type="submit">Submit</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Style Code</th>
                    <th>Operation</th>
                    <th>MACH</th>
                    <th>SMV</th>
                    <th>Target</th>
                </tr>
            </thead>
            <tbody>
                {% for style in page_obj %}
                <tr>
                    <td>{{ style.style_code }}</td>
                    <td>{{ style.operation }}</td>
                    <td>{{ style.mach }}</td>
                    <td>{{ style.smv }}</td>
                    <td>{{ style.target }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    {% endblock %}
    {% block style %}
    <link href="{% static 'daily_amounts/daily_amounts.css' %}" rel="stylesheet">
    {% endblock %}
    {% block script %}
    {% endblock %}